body{
 font-family: Arial Black,sans-serif; 
 background-color: black;
 color: white;
}

#Upgrades{
 background-color: white;
 padding-left: 30px;
 padding-right: 30px;
 padding-bottom: 200px;
 color: black;
 
}

.gen1{
 background-color: black;
 color: white;
}

.util1{
 background-color: black;
 color: white;
 float: right;
 padding-left: 50px;
 padding-right: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

.navButton{
 background-color: white;
 color: black;
}

#notEnough{
	background-color: white;
	color: black;
}

#backToGame{
	color: black;
	border: 2px solid black;
	padding: 5px 50px;
	background-color: white;
	font size: 1.3em;
}

#notEnough{
	display: none;
}

#howTo,#credits{
	background-color: white;
	color: black;
	display: none;
}
